<div class="bid-form-container">
    <div class="bid-form-heading">
        <h2>Bid Now</h2>
    </div>
    <div style="padding: 5px;">
        <div class="row">
            <div class="column-12">
                <div class="form-control">
                    <label for="">Date</label>
                    <input type="Date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-6">
                <div class="form-control">
                    <label for="">Adult</label>
                    <input type="text">
                </div>
            </div>
            <div class="column-6">
                <div class="form-control">
                    <label for="">Room</label>
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-12">
                <div class="age-group">
                    <input type="checkbox">
                    <span>Child below 6 years old</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-12">
                <div class="form-control">
                    <label for="" class="bid-price">BID PRICE <b><span class="rupess"> (₹)</span></b></label>
                    <input type="text" name="" id="" placeholder="Please Enter Your Bid Price">
                </div>
            </div>
        </div>
        <div class="Bid-form-price">
            <label for="">Total Amount</label>
            <h5>{{2000 | currency:'INR'}}</h5>
        </div>
        <div class="total-Bid-Amount-detail">
            <div class="row">
                <div class="column-12">
                    <div class="form-control">
                        <input type="text" placeholder="More Detail" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="bid-jusbid-submit">
            <button>Jusbid</button>
        </div>
    </div>
</div>