<main>
  <section class="container">
    <div class="header-details">
      <nav class="account">
        <ol>
          <li>
            <span class="account-setting">
              <a routerLink="/profile">Account</a>
            </span>
          </li>
          <li>
            <div class="errow" style="margin-left: 16px; margin-right: 16px">
              <svg
                viewBox="0 0 18 18"
                role="presentation"
                aria-hidden="true"
                focusable="false"
                style="height: 10px; width: 10px; fill: rgb(118, 118, 118)"
              >
                <path
                  d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <span aria-current="step" class="account-setting"
              >Personal info</span
            >
          </li>
        </ol>
      </nav>
      <div class="profile-info-header">
        <h1>Personal Info</h1>
      </div>
    </div>
    <div class="user-data">
      <ul>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Legal name</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>Gunjan Soni</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Gender</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>Not Specified</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Date of Birth</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>June 15, 1998</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Email address</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>gunjansoni75@gmail.com</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Phone Number</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>+91 8619598940</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Goverment ID</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>Not provided</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Address</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>Not provided</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Emergency contact</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>Not provided</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="user-details">
            <div id="legalName" class="name">
              <div class="profile-name">
                <div class="legal-user-name">
                  <div id="legalName-row-title" class="row-title">
                    <section>
                      <h2 class="legalName">Passport info for china travel</h2>
                    </section>
                  </div>
                  <div id="legalName-row-subtitle" class="row-subtitle">
                    <span>Not provided</span>
                  </div>
                </div>
                <div class="edit">
                  <button
                    aria-hidden="false"
                    id="legalName-row-action"
                    aria-labelledby="legalName-row-action legalName-row-title"
                    type="button"
                    class="edit-btn"
                  >
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
