<div class="search-box">
    <div class="where">
      <input
        type="text"
        placeholder="Udaipur"
        class="where-input"
        value=""
      />
    </div>
    <div class="check-in">
      <input
        type="text"
        placeholder="Check in"
        value=""
        class="in-input"
      />
    </div>
    <div class="check-out">
      <input
        type="text"
        placeholder="Check out"
        value=""
        class="out-input"
      />
    </div>
    <div class="guest">
      <input
        type="text"
        placeholder="Guests"
        value=""
        class="guest-count"
      />
    </div>
    <div class="search-btn">
      <button class="search-hotel">Search</button>
    </div>
  </div>