<section>
  <div class="popular-hotels-slider">
    <div class="hotel-card-header">
      <div>
        <h1>{{ content.heading }}</h1>
        <div class="hotel-sub-head-section">
          <p>{{ content.sub_heading }}</p>
          <img src="\assets\images\icons\Verified.svg" />
        </div>
      </div>
      <div class="hotel-slider-controls">
        <button
          type="button"
          class="control-btn back-btn"
          (click)="this.slides.slidePrev()"
          [disabled]="disabled_back"
        >
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <button
          type="button"
          class="control-btn next-btn"
          (click)="this.slides.slideNext()"
          [disabled]="disabled_next"
        >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
    </div>
    <ion-content>
      <ion-slides
        pager="false"
        [options]="slideOpts"
        (ionSlideDidChange)="slideChanged()"
        #slides
      >
        <ng-container *ngFor="let item of content.data">
          <ion-slide>
            <div class="popular-hotels-details">
              <div class="detail-card">
                <div class="detail-card-image">
                  <img [src]="item.previewImageSrc" />
                </div>
                <div class="popular-hotel-details">
                  <span class="popular-city-name">{{ item.cities }}</span>
                  <h1 class="popular-hotel-name">{{ item.hotel }}</h1>
                </div>
              </div>
            </div>
          </ion-slide>
        </ng-container>
      </ion-slides>
    </ion-content>
  </div>
</section>
