<main>
  <section class="container">
    <div class="dashboard-content">
      <div class="header-details">
        <nav class="profile">
          <ol>
            <li>
              <span class="profile-setting">
                <a routerLink="/profile/customer-profile-details">profile</a>
              </span>
            </li>
            <li>
              <div class="errow" style="margin-left: 16px; margin-right: 16px">
                <svg
                  viewBox="0 0 18 18"
                  role="presentation"
                  aria-hidden="true"
                  focusable="false"
                  style="height: 10px; width: 10px; fill: rgb(118, 118, 118)"
                >
                  <path
                    d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </div>
              <span aria-current="step" class="profile-setting"
                >Profile Photos</span
              >
            </li>
          </ol>
        </nav>
        <div class="profile-header">
          <h1>
            <div class="profile-title">Profile Photos</div>
          </h1>
        </div>
      </div>
      <div class="profile-photo">
        <div class="profile-photo-header">
          <h1>Profile Photo</h1>
        </div>
        <div class="profile-body">
          <div class="profile-pic">
            <div class="profile-picture">
              <div class="user-profile-pic media-round">
                <img
                  alt="Gunjan"
                  height="225"
                  src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3"
                  title="Gunjan"
                  width="225"
                />
              </div>
            </div>
          </div>
          <div class="upload-btn">
            <button
              type="button"
              class="btn btn-block btn-large"
              id="profile_pic_upload"
            >
              Take or upload a photo
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
