.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: rgba(222, 49, 81, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
}
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1e2022;
  }
  button.show-more-btn {
    background: transparent;
    border: none;
    color: var(--primary);
    font-size: 1rem;
    cursor: pointer;
  }
}
.filter {
  padding: 40px 20px;
  top: 16%;
  .filter-tab-section {
    margin-bottom: 30px;
    background: #ffffff;
    .popular-filters {
      .heading-section {
        h2 {
          margin-top: 25px;
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          color: #1e2022;
        }
      }
      .filter-tab {
        display: flex;
        flex-wrap: wrap;
        .filter-details {
          .btnStyle {
            background: none;
            border: 1px solid #c3c5c3;
            font-size: 16px;
            max-width: fit-content;
            min-width: 90px;
            height: 35px;
            padding: 0 10px;
            border-radius: 35px;
            margin-bottom: 5px;
            margin-right: 5px;
            white-space: nowrap;
          }
          .btnStyle1 {
            background: rgb(4, 44, 6);
            border: 1px solid #c3c5c3;
            font-size: 16px;
            max-width: fit-content;
            min-width: 90px;
            height: 35px;
            padding: 0 10px;
            border-radius: 35px;
            margin-bottom: 5px;
            margin-right: 5px;
            color: white;
            white-space: nowrap;
          }
        }
      }
    }
    .show-btn {
      padding: 10px 0;
      text-align: right;
      button {
        background: none;
        color: #008eff;
      }
    }
  }
  .filter-section {
    color: #827b7b;
    .popular-filters {
      .filter-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 20px;
          .filter-details {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            div.chkbox-input {
              display: flex;
              align-items: center;
              p {
                padding: 0 10px;
                line-height: 26px;
                color: #000000;
              }
              .chkbox {
                cursor: pointer;
                width: 17.24px;
                height: 17.24px;
                box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
              }
            }
          }
        }
      }
      .category-ul {
        height: 100px;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 20px;
          .amenity-details {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            div.chkbox-input {
              display: flex;
              align-items: center;
              p {
                padding: 0 10px;
                line-height: 26px;
                color: #000000;
              }
              .chkbox {
                cursor: pointer;
                width: 17.24px;
                height: 17.24px;
                box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
              }
            }
          }
        }
      }

      .show-btn {
        padding: 10px 0;
        text-align: right;
        button {
          background: none;
          color: #008eff;
        }
      }
      .budget {
        justify-content: space-between;
        display: flex;
        align-items: center;
        .budget-box {
          width: 100%;
          height: 45px;
          border-radius: 5px;
          border: 1px solid #a2a9b0;
          text-align: center;
          outline: none;
        }
        .right-arrow {
          background: #94b8f8;
          color: white;
          padding: 10px;
          border-radius: 5px;
        }
        p {
          padding: 15px;
        }
        a {
          padding-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 1048px) {
  .filter {
    .filter-section {
      font-size: 14px;
      .popular-filters {
        ul {
          li {
            .filter-details {
              div.chkbox-input {
                p {
                  padding: 0 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 922px) {
  .filter {
    padding: 10px;
    margin-top: 30px;
    .filter-header {
      h2 {
        font-size: 23px;
      }
    }
    .filter-section {
      .popular-filters {
        .budget {
          .budget-box {
            height: 35px;
          }
          p {
            padding: 10px;
          }
          a {
            padding-left: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 822px) {
  .filter {
    .filter-section {
      font-size: 12px;
    }
  }
}

section.price-range {
  margin: 20px 0 30px 0;
}

::ng-deep {
  .p-slider .p-slider-range {
    background: var(--primary);
  }

  .p-slider .p-slider-handle {
    border-color: var(--primary);
    width: 26px;
    height: 26px;
    background: #ffffff;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border: none;
  }

  .p-slider:not(.p-disabled) .p-slider-handle:hover,
  .p-slider:not(.p-disabled) .p-slider-handle:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  .p-slider-horizontal {
    margin-right: 27px;
  }
  .p-slider-horizontal .p-slider-handle {
    top: 0% !important;
  }
  .p-slider.p-slider-horizontal .p-slider-handle {
    margin-left: 0;
  }
}
