<section class="auth-section-container">
    <div class="brand-logo">
        <img src="assets/images/jusbid_white_logo.png" alt="Jusbid Logo" (click)="goBack()">
    </div>

    <div class="form-card">
        <div class="form-header">
            <div>
                <h2 *ngIf="activeForm === 'sign-in' || activeForm === 'sign-up'">{{ activeForm === 'sign-in' ? 'Sign In' :
                    'Sign Up' }}</h2>
                <h2 *ngIf="activeForm === 'otp-login'">{{ activeForm === 'otp-login' ? 'Login with OTP' : '' }}</h2>
            </div>
            <div>
                <button class="close-btn"><ion-icon name="close-outline" mode="ios" (click)="goBack()"></ion-icon></button>
            </div>
        </div>

        <app-sign-up *ngIf="activeForm === 'sign-up'"></app-sign-up>
        <app-sign-in *ngIf="activeForm === 'sign-in'"></app-sign-in>
        <otp-login *ngIf="activeForm === 'otp-login'"> </otp-login>

        <div class="footer">
            <p *ngIf="activeForm === 'sign-in'">
                If you don't have any account
                <a (click)="changeForm('sign-up')" class="cursor-pointer">Create account</a>
            </p>
            <p *ngIf="activeForm === 'sign-up'">
                Already have an account ?
                <a (click)="changeForm('sign-in')" class="cursor-pointer">Click here</a>
            </p>
            <div *ngIf="activeForm === 'sign-in'">
                <p> Or </p>
                <p class="otp-login-btn" (click)="changeForm('otp-login')">
                    <a class="cursor-pointer" style="display: flex;align-items: center;justify-content: center;">
                        <ion-icon name="call-outline" style="margin-right: 8px;font-size: 1.4rem;"></ion-icon>
                        <span>Login with Phone Number</span>
                    </a>
                </p>
            </div>
            <div *ngIf="activeForm === 'sign-in'" style="margin-top: 10px;">
                <p> Or </p>
                <p class="google-login-btn" (click)="signInWithGoogle()">
                    <a class="cursor-pointer" style="display: flex;align-items: center;justify-content: center;">
                        <span style="margin-right: 8px;font-size: 1.4rem;">
                            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height: 20px; width: 20px; display: block;"><g fill="none" fill-rule="evenodd"><path d="M9 3.48c1.69 0 2.83.73 3.48 1.34l2.54-2.48C13.46.89 11.43 0 9 0 5.48 0 2.44 2.02.96 4.96l2.91 2.26C4.6 5.05 6.62 3.48 9 3.48z" fill="#EA4335"></path><path d="M17.64 9.2c0-.74-.06-1.28-.19-1.84H9v3.34h4.96c-.1.83-.64 2.08-1.84 2.92l2.84 2.2c1.7-1.57 2.68-3.88 2.68-6.62z" fill="#4285F4"></path><path d="M3.88 10.78A5.54 5.54 0 0 1 3.58 9c0-.62.11-1.22.29-1.78L.96 4.96A9.008 9.008 0 0 0 0 9c0 1.45.35 2.82.96 4.04l2.92-2.26z" fill="#FBBC05"></path><path d="M9 18c2.43 0 4.47-.8 5.96-2.18l-2.84-2.2c-.76.53-1.78.9-3.12.9-2.38 0-4.4-1.57-5.12-3.74L.97 13.04C2.45 15.98 5.48 18 9 18z" fill="#34A853"></path><path d="M0 0h18v18H0V0z"></path></g></svg></span>
                        <span>Continue with Google</span>
                    </a>
                </p>
            </div>
            <p *ngIf="activeForm === 'otp-login'">
                Prefer to Sign in with password instead?
                <a (click)="changeForm('sign-in')" class="cursor-pointer">Click here</a>
            </p>
        </div>

        <div style="margin-top: 10%;">
            <p style="color: #9b9b9b;font-size: 12px;
            line-height: 12px;">
                We’ll call or text you to confirm your number. Standard message and data rates apply. <a href="#">Privacy Policy</a>
            </p>
        </div>

    </div>

</section>