.auth-section-container {
	background-image: url("../../../assets/images/backgrounds/login-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	z-index: 999;
	justify-content: center;
	align-items: center;
	position: relative;

	.brand-logo {
		position: absolute;
		top: 5%;
		left: 5%;

		img {
			max-width: 100px;
			cursor: pointer;
		}
	}
}

.form-card {
	border-radius: 1.2rem;
	box-shadow: 0 20px 30px rgba(0, 0, 0, .6);
	border: 1px solid rgba(255, 255, 255, .3);
	padding: 40px 20px;
	box-sizing: border-box;
	transition: box-shadow .3s ease;
	background: rgba(255, 255, 255, 1);
}

.form-header {
	margin-bottom: 1rem;
	padding: 0 8px;

	h2 {
		font-size: 32px;
		line-height: 1.5;
		font-weight: 700;
		margin: 0;
		padding: 0;
	}
}

.btn-primary {
    background: var(--primary);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    margin-right: 2px;
}
.btn-light{
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #dee2e6 ;
    color: #212529;
    background-color: #f8f9fa;
}

.mx-2{
	margin: 0 10px;
}