<section class="auth-section-container">
    <div class="brand-logo">
        <img src="assets/images/jusbid_white_logo.png" alt="Jusbid Logo" (click)="gotoHome()">
    </div>

    <div class="form-card">
        <div class="form-header">
            <h2>Forgot Password</h2>
        </div>
        <form action="" #resendEmailForm="ngForm" (submit)="userResendEmail(resendEmailForm)">
            <div class="row">
                <div class="column-12">
                    <div class="form-control">
                        <label for="email">Please Enter your Registered Email Address</label>
                        <input type="email" id="email" name="email" ngModel required autocomplete="off" 
                            (input)='enableButton($event)'>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-12">
                    <button type="submit" class="btn btn-primary w-auto mt-3">Forgot
                        Password</button>
                    <button type="button" class="btn btn-light w-auto mt-3 border mx-2"
                        routerLink="/auth">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</section>