<div>
    <div class="rating-detail-people">
        <div class="detail-people-image">
            <img src="https://a0.muscache.com/im/pictures/user/03bb274d-6f90-490c-b386-6daae8d2ae6a.jpg?im_w=240"
                alt="">
        </div>
        <div class="people-detail">
            <h6 class="name">{{data.customer_name}}</h6>
            <span class="rating-timing">{{data.date}}</span>
        </div>
    </div>
    <div class="rating-desc">
        <div [ngClass]="{'limitTextHeight': !isReadMore}">
            <p>{{data.rating_desc}}</p>
        </div>
        <a  (click)="this.isReadMore=!this.isReadMore" href="javascript: void(0)">
            {{ !isReadMore ? 'Read More': 'Read Less' }}
        </a>
    </div>
</div>