<!-- <img src="assets/images/Screenshot 2022-01-16 at 3.41.42 PM.png" alt=""> -->

<div class="list-card">
  <div class="list-card-image">
    <img [src]="this.getImageUrl(hotelData.image)" alt="" />
  </div>
  <div class="list-card-desc">
    <div class="hotelname-rating">
      <div class="list-hotel-name">
        <h3 style="text-transform: capitalize;">{{hotelData.name}}</h3>
      </div>
      <!-- <div class="hotel-star">
        <ng-container *ngFor="let star of [].constructor(5)">
          <ion-icon name="star"></ion-icon>
        </ng-container>
      </div> -->
    </div>
    <div class="hotel-address">
      <p>
        <ion-icon name="location"></ion-icon
        ><span style="text-transform: capitalize;">{{hotelData.area ? hotelData.area : hotelData.address}}</span>
      </p>
    </div>
    <div class="hotel-distance">
      <p>
        <ion-icon name="navigate-circle"></ion-icon
        ><span>1.64km from Bangalore</span>
      </p>
    </div>
    <div class="hotel-aminities">
      <ng-container *ngFor="let aminity of [].constructor(6)">
        <div class="aminity-border">
          <p><ion-icon name="cafe"></ion-icon><span>cafe</span></p>
        </div>
      </ng-container>
    </div>
    <div class="extra-facility">
      <div class="Free-Cancellation">
        <p>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span> Free Cancellation </span>
        </p>
      </div>
      <div class="Discount-Applied">
        <p>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span> Discount Applied </span>
        </p>
      </div>
      <div class="Book-Now">
        <p>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span> Book Now And Save 850Rs. </span>
        </p>
      </div>
    </div>
    <div class="suggestion-box-container">
      <div class="row">
        <div class="column-5">
          <h6>Highly recommended!</h6>
        </div>
        <div class="column-7">
          <h6>Preferred by all the guests</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="list-card-price">
    <div>
      <div style="align-items: center; padding-top: 20px">
        <div class="total-rating-section">
          <p class="total-rating"><ion-icon name="star"></ion-icon> 4.5</p>
          <p class="excellent">Excellent <span>reviews</span></p>
        </div>
        <div class="responsive-price-section" >
          <div class="hotel-price-section">
            <div class="hotel-price">
              <div>
                <h3 class="disc-price"><span>&#8377;</span>3000</h3>
                <h1 class="total-price"><span>&#8377;</span> {{hotelData.room_price}}</h1>
                <p>Per Night</p>
              </div>
            </div>
          </div>
          <div class="detail-button">
            <button type="submit">View Details</button>
          </div>
        </div>
        <!-- <div class="cancellation">
            <div>
              <p>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <span> Cancellation Charges Apply </span>
              </p>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
