<app-header [isHome]="false"></app-header>
<main>
    <div class="hotel-details-container">
        <!-- <div class="hotel-detail-header">
        </div> -->
        <div class="container">
            <div class="hotel-detail-body">
                <div class="column-7">
                    <div class="hotel-detail-image">
                        <img src="https://images.oyoroomscdn.com/uploads/hotel_image/48625/large/c91d4982e03869f4.jpg"
                            alt="">
                    </div>
                    <section class="hotel-detail-section">
                        <section class="hotel-description">
                            <div class="hotel-description-body">
                                <div class="desc-heading card-heading">
                                    <h2>About Hotel Hilltop Palace</h2>
                                </div>
                                <div class="desc-desc">
                                    <h6>Making way for a hearty meal is Amrai Valley Resort in Pali-Rajasthan. This
                                        place is synonymous with delicious food that can satiate all food cravings.
                                        It is home to some of the most appreciated cuisines. So as to be able to
                                        cater to a large number of diners, it occupies a favorable location at
                                        Ranakpur. Ranakpur Road Maga Teh.-Gogunda, Ranakpur-306702 is where one can
                                        visit the venue </h6><span>show more</span>
                                </div>
                                <div class="desc-details">
                                    <div class="check-in">
                                        <p class="check-in-heading">check in</p>
                                        <p class="check-in-info">12:00</p>
                                    </div>
                                    <div class="check-in">
                                        <p class="check-in-heading">check out</p>
                                        <p class="check-in-info">12:00</p>
                                    </div>
                                    <div class="check-in">
                                        <p class="check-in-heading">KMs Driven</p>
                                        <p class="check-in-info">14164 Kms</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="Aminities-section">
                            <div class="hotel-aminities-body">
                                <div class="aminities-heading card-heading">
                                    <h2>Amenities</h2>
                                </div>
                                <div class="aministies-desc">
                                    <ul style="list-style: none;">
                                        <ng-container *ngFor="let aminities of [].constructor(6)">
                                            <li>
                                                <ion-icon name="car"></ion-icon>
                                                <span>Paid Pickup/Drop</span>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
                <div class="column-5 ">
                    <section class="section-card">
                        <div class="hotel-detail-hotel-name">
                            <h1>Rafhiya Haveli </h1>
                        </div>
                        <div class="hotel-address">
                            <h6>Front of Leela Hotel Udaipur Rajasthan-(313001) India</h6>
                            <p>Inclusion of all taxes</p>
                        </div>
                    </section>
                    <div class="bid-form" style="padding:0; margin-top: 20px;">
                        <app-bid-form></app-bid-form>
                    </div>
                </div>
            </div>
            <div class="other-room-details">
                <ul>
                    <li><a class="navLink active">Rooms</a></li>
                    <li><a class="navLink ">location</a></li>
                    <li><a class="navLink">Property Rules</a></li>
                    <li><a class="navLink">User Reviews</a></li>
                </ul>
            </div>
        </div>
        <section class="bottom-border"></section>
        <section class="choose-your-room">
            <div class="container">
                <div class="choose-room-container">
                    <div class="choose-room-card">
                        <div class="choose-room-card-detail">
                            <div class="choose-room-image">
                                <img src="../../../assets/images/backgrounds/login-background.jpg" alt="">
                            </div>
                            <div class="choose-room-detail">
                                <div class="choose-room-type"><h2>Deluxe Non Lake Facing Room</h2></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>