<div class="desc-desc">
    <p>Making way for a hearty meal is Amrai Valley Resort in Pali-Rajasthan. This
        place is synonymous with delicious food that can satiate all food cravings.
        It is home to some of the most appreciated cuisines. So as to be able to
        cater to a large number of diners, it occupies a favorable location at
        Ranakpur. Ranakpur Road Maga Teh.-Gogunda, Ranakpur-306702 is where one can
        visit the venue </p>
        <button>Show more</button>
</div>
<div class="desc-details">
    <div class="check-in">
        <p class="check-in-heading">check in</p>
        <p class="check-in-info">12:00</p>
    </div>
    <div class="check-in">
        <p class="check-in-heading">check out</p>
        <p class="check-in-info">12:00</p>
    </div>
    <div class="check-in">
        <p class="check-in-heading">KMs Driven</p>
        <p class="check-in-info">14164 Kms</p>
    </div>
</div>