<div class="card">
    <div class="hotel-details">
      <div class="hotel-image">
        <img src="assets\images\hotel image\pexels-photo-164595.jpeg" />
      </div>
      <div class="room-details">
        <p>Private room in residental home</p>
        <h1 class="hotel-name">
          Delux Room in Old City - AC|TV|Wifi|Hot Water
        </h1>
        <span> 1 Room for 2 Guests on 14th March, 2022 at 12.30 PM</span>
        <h3 class="hotel-price">
          <set-price [price]="4500"></set-price> / night
        </h3>
        <p>including of all taxes</p>
      </div>
    </div>
    <div class="price-details">
      <div class="per-night">
        <p><set-price [price]="799"></set-price> * 1 night</p>
        <set-price [price]="799"></set-price>
      </div>
      <div class="service-fee">
        <p>Service fee</p>
        <set-price [price]="799"></set-price>
      </div>
      <div class="taxes-fee">
        <p>Occupancy taxes and fees</p>
        <set-price [price]="799"></set-price>
      </div>
      <div class="total-price">
        <p>Total</p>
        <set-price [price]="799"></set-price>
      </div>
    </div>
  </div>